/*------------------------------------*\
    _NAVIGATION.SCSS
\*------------------------------------*/

.menu-box {
    width: 100%;
    position: relative;
    z-index: 1000;
    box-shadow: 0 2px 5px #000;
    margin-bottom: 2em;
}